<div>
  <div id="chatContainer">
    Your name: <input [(ngModel)]="userName" /><br>
    Your message: <input [(ngModel)]="messageText" />
    <button (click)="sendMessage()">Send</button><br>
    <label> Your User ID: {{userID}}</label> 

    <div class="container" *ngFor="let item of messages.slice().reverse() ">
      <h3> From: {{item.user}}</h3>
      <h2>{{item.msg}}</h2>
      <span class="time-right">{{item.timeStamp}}</span>
    </div>
  </div>
</div>
<div class="jumbotron text-center">
    <div *ngIf="audioProcess==false">Please wait for audio to be generated</div>
    <div *ngIf="audioProcess==true">Audio Generated!
    <button (click)="callMe()">Listen to your Message</button>
    <audio controls id="ap">
<source src="{{userID}}.mp3" type="audio/mpeg">
      </audio>
    </div>
</div>